/* styles.css */

/* Background color */
body {
    background-image: url('/asset/bg1.jpg'); /* Adjust the path if needed */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* Table styling */
.table1 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table1 th,
.table1 td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table1 th {
    background-color: #f2f2f2; /* Lighter gray */
}
.button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #aaffaa; 
    border: 2px solid #00aa00; 
    border-radius: 20px; 
    text-decoration: none;
    color: #000; 
    font-weight: bold;
    text-align: center;
}

.button1:hover {
    background-color: #bbffbb; /* Light green (hover) */
}
.title1 {
 padding-left: 100vh;
 color: bisque;
}

/* Search bar */
.search-form1 {
    display: flex;
    align-items: center;
}

.search-input1 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 200px; /* Adjust width as needed */
}

.search-button1 {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button1:hover {
    background-color: #0056b3;
}
/* Sort buttons */
.sort-buttons1 {
    margin-top: 10px;
}

.sort-buttons1 button {
    margin-right: 10px;
}
